NODE_ENV = development #production or development
CORS_ORIGIN = "http://localhost:3000"
# mongo:27017 mongo is mongo's docker container name
MONGO_URI = 
PORT = 4000
JWT_SECRET = password
EXPIRES_IN = 7d
